body {
    font-family: 'Phetsarath OT', sans-serif;
}

.form-error,
#global-error-message,
.success-message {
    font-family: 'Phetsarath OT', sans-serif;
}

.password-strength-meter {
    height: 4px;
    transition: width 0.3s ease, background-color 0.3s ease;
}

.animate-shake {
    animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) both;
}

@keyframes shake {

    10%,
    90% {
        transform: translateX(-1px);
    }

    20%,
    80% {
        transform: translateX(2px);
    }

    30%,
    50%,
    70% {
        transform: translateX(-4px);
    }

    40%,
    60% {
        transform: translateX(4px);
    }
}

.form-error {
    color: #ef4444;
    font-size: 0.75rem;
    margin-top: 0.25rem;
    transition: all 0.2s ease;
}